.bg-container {
    background-image: url("https://img.freepik.com/premium-photo/finely-textured-shiny-lavender-color-background-with-lavender-stems-with-vignette_692187-198.jpg");
    background-size: cover;
    height:100%;  
}